node_modules
dist
dist-electron
release
resources/sidecar/*.exe
resources/org-default.env
docs/guides/pdf/
resources/sidecar-dist/
resources/sidecar-build/
resources/puppeteer-cache/
.env
.env.local
*.log
.DS_Store
Thumbs.db
.wwebjs_cache/
**/__pycache__/
